.my_header{
    width:100%;
    height:20rem;
}
.my_card{
    font-size: 1.1rem;
    text-align: center;

}
.piao{
    border:1px solid #B08C4A;
}
.score{
    background: #BF974D;
    bottom:0;
    right: 0;
}
.card{
    border:0;
}
.card:hover{
    box-shadow:0 0 4px #BFBB95;
}
.Travel{
    top:3rem;
    left:2rem;
}
.slide{
    flex-direction: column;
    left:400px;
}

